/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
.classpath_nb
.settings
.cache*
.classpath
.externalToolBuilders
.tmpBin
.DS_Store
project/project
project/target
page/target
shared/target
client/target
server/target
runtime/target
/bin/
.history
*.iml
.idea
.bsp
pom.xml
